<% include ../partials/header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-lg-8">
        <form id="formsearch">
           <div class="input-group mb-4 border rounded-pill p-1" >
               <input id="inputsearch" type="search" placeholder="Tweet Argument" aria-describedby="button-addon1" class="form-control bg-none border-0">
               <div class="input-group-append border-0">
                 <button id="button-addon3" type="button" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
               </div>
            </div>
       </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<!-- progress bar -->
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-lg-8" id="progressbar">

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>



<!-- search results donhouts graf-->
<div class="container">
  <div class="row my-2">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <div class="card my-2">
        <div class="card-header">Sentiment</div>
        <div class="card-body my-2"">
            <div id="charts" style="height: 400px"></div>
          <!-- <canvas class="my-2" id="myChart"></canvas> -->
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<!-- search results world cloud -->
<div class="container">
  <div class="row my-2">
    <div class="col-sm"></div>
    <div class="col-lg-12" >
        <div class="card my-2">
          <div class="card-header">Word TweeT</div>
          <div class="card-body my-2" id="worldtweet"></div>
        </div>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row my-2">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <div class="card my-2">
        <div class="card-header">HashtagTweet</div>
        <div class="card-body my-2" id="hashtagtweet"></div>
      </div>
    </div>
    <div class="col-sm"></div>
    </div>


  <!-- <div class="row my-2">
    <div class="col-sm"></div>
        <div class="col-lg-8">
          <div class="card my-2">
            <div class="card-header">Region Tweet</div>
            <div class="card-body my-2" id="regionTweet"></div>
          </div>
        </div>

      <div class="col-sm"></div>
    </div>
  </div> -->

<% include ../partials/footer %>
