<% include ../partials/header %>

     <header class="jumbotron">
         <div class="container">
              <div class="d-flex justify-content-center">
                   <i class="far fa-thumbs-up fa-9x"></i>
                   <i class="far fa-thumbs-down fa-9x"></i>
            </div>
             <h1 class="d-flex justify-content-center mt-4"><span class="display-4"></span> Welcome To Tweet App</h1>
             <p class="lead">Sunt dolore malis labore culpa dolore enim export duis malis velit sint veniam
               malis fore summis dolor multos summis velit.</p>
             <p>
              <hr class="my-4 style14">
              <% if(!currentUser){ %>
              <p class="d-flex justify-content-center">For search Tweet sentiment you must login</p>
              <p class="lead">
                <a href="/login" class="btn btn-primary btn-lg d-flex justify-content-center">Login</a>
              </p>
              <% } else { %>
              <p class="d-flex justify-content-center">GO to the search page</p>
              <a class="btn btn-primary btn-lg d-flex justify-content-center"" href="/search">Search</a>
              <% } %>

         </div>
     </header>



<% include ../partials/footer %>
