<% include ../partials/header %>

     <header class="jumbotron">
         <div class="container">
              <div class="d-flex justify-content-center">
                   <i class="far fa-thumbs-up fa-6x"></i>
                   <i class="far fa-thumbs-down fa-6x"></i>
            </div>
             <h1 class="d-flex justify-content-center mt-4"><span class="display-4"></span> Welcome To Tweet App</h1>
             <p class="lead">This is app is built for searching sentiment in Tweets. You can search argument, now only in Italian. The result of your search is a pie chart of sentiment, positive, negative and neautral. Then you have a Word CLoud of used word in the tweets and a word cloud of hashtag used. You must login for searching tweets sentiment. Registration is free.</p>
             <p>
              <hr class="my-4 style14">
              <% if(!currentUser){ %>
              <p class="lead">
                <a href="/login" class="btn btn-primary btn-lg d-flex justify-content-center">Login</a>
              </p>
              <% } else { %>
              <p class="d-flex justify-content-center">GO to the search page</p>
              <a class="btn btn-primary btn-lg d-flex justify-content-center"" href="/search">Search</a>
              <% } %>

         </div>
     </header>



<% include ../partials/footer %>
